# 4.6 Lesson

# Importing libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# Import data sets 'df_ords_prior and 'df_ords'
# path = r'D:\Rich\Bus Analyst\29-06-2023 Instacart Basket Analysis'

In [ ]:
# path = r'D:\Rich\Bus Analyst\29-06-2023 Instacart Basket Analysis'

In [2]:
path = r'D:\Rich\Bus Analyst\29-06-2023 Instacart Basket Analysis'

In [3]:
path

'D:\\Rich\\Bus Analyst\\29-06-2023 Instacart Basket Analysis'

In [ ]:
# Import 'df_ords_prior' data set
# 'df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)'

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [ ]:
# Import 'df_ords' data set
# 'df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)'

In [5]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [ ]:
# Import 'products_checked' data set
# 'df_prods_clean_no_dups = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)'

In [6]:
df_prods_clean_no_dups = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

# Consistency check on

In [ ]:
# Consistency check 'df_ords_prior'
# 'df_ords_prior.head()'
# 'df_ords_prior.shape'
# 'df_ords_prior.describe()'

In [7]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [14]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [ ]:
# Consistency check 'df_ords'
# 'df_ords.head()'
# 'df_ords.shape'
# 'df_ords.describe()'

In [9]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [10]:
df_ords.shape

(3421083, 7)

In [42]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [ ]:
# Consistency check on 'df_prods_clean_no_dups'
# 'df_prods_clean_no_dups.head()'
# 'df_prods_clean_no_dups.shape'
# 'df_prods_clean_no_dups.describe()'

In [11]:
df_prods_clean_no_dups.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_prods_clean_no_dups.shape

(49672, 5)

In [50]:
df_prods_clean_no_dups.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      7.680233
std    14340.705287     38.315784       5.850779      4.199420
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000     25.000000

In [ ]:
# Consistency check on 'df_prods_clean_no_dups' ran 'shape' and there is an extra column. 
# Ran 'df_prods_clean_no_dups.head() and column 'Unnamed:0' is showing and I need to fix it. 
# 'df_prods_clean_no_dups = df_prods_clean_no_dups.drop(columns = ['Unnamed: 0'])'

# Lesson Merging Instacart Data

In [ ]:
# 'df_ords_prior' has been imported above
# Check the dimensions of 'df_ords_prior'
# Check the output

In [18]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [19]:
# Check the ouput 'df_ords.head()'
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [21]:
df_ords_prior.shape

(32434489, 4)

In [22]:
df_ords.shape

(3421083, 7)

# Lesson merging 'df_ords' and 'df_order_products_prior' 
# 'df_merged_large = df_ords.merge(df_order_products_prior, on = 'order_id', indicator = True)'

In [24]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [25]:
# Check output
# 'df_merged_large.head()'
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [27]:
df_merged_large.shape

(32434489, 11)

In [26]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Tasks

# Step 1: Merged instacart orders data with 'order_products_prior'

In [ ]:
# Completed in the exercise

# Step 2: Export merged file in pickle format as 'orders_products_combined.pkl'

In [ ]:
# df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [28]:
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))